body{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;
}
#header{
  width:100%;
  height:100px;
  font-size: 50px;
}

.leftside {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.leftside .closeleftbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.onclick{
  font-size: 50px;
}

#sidebar-left{
  float:left;
  width:20%;
}

#cat{
  float: left;
}

#lefttext{
  text-align: center;
  font-size: 30px;
}

input[type=text] {
  width: 98%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('images/microphone.jpg');
  background-size: 20px;
  background-position: 9px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

#main{
  float:left;
  width:60%;
  font-size: 50px;
}

.rightside {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.rightside .closerightbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.onclick{
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebar-right{
  float:left;
  width:20%;
}

#playlist{
  text-align: center;
  font-size: 25px;
}

#pltitle{
  text-align: center;
  font-size: 30px;
}

ul.no_bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.track1 {
  background: url('images/pwt.jpg') no-repeat left top;
  background-size: 55px;
  padding-left: 20px;

}

li.track2 {
  background: url('images/nd.jpg') no-repeat left top;
  background-size: 55px;
  padding-left: 20px;

}

li.track3 {
  background: url('images/gj.png') no-repeat left top;
  background-size: 55px;
  padding-left: 20px;
}

li.track4 {
  background: url('images/jb.jpg') no-repeat left top;
  background-size: 55px;
  padding-left: 20px;
}

li.track5 {
  background: url('images/b182.jpg') no-repeat left top;
  background-size: 55px;
  padding-left: 20px;
}

#footer{
  clear:both;
  height: 100px;
  width: 100%;
}

#sidebar-left, #main, #sidebar-right{
  min-height: 500px;
}

#header, #main, #footer {
  text-align: center;
}
