body{
  background-color: #0d7373;
  margin: 10% auto;
  text-align: center;
}
.btn{
    background-image: url("images/connect.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    width:30%;
    height:10vh;
}
