body{
  background-color: #0d7373;
  margin: 5% auto;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
}
#header{
  font-family: 'Times';
  width:100%;
  height:100px;
  font-size: 80px;
}
#lefttext{
  font-size: 25px;
}
#logout{
  outline: 0;
  background:none;
  font-size: 12x;
  font-family:Arial, Helvetica, sans-serif;
  border: none;
  display: inline-block;
}
#logout:hover{
  text-decoration: underline;
  color: white;
}
#newplaylist{
  outline: 0;
  background:none;
  font-size: 12x;
  font-family:Arial, Helvetica, sans-serif;
  border: none;
  display: inline-block;
}
#newplaylist:hover{
  text-decoration: underline;
  color: white;
}
#playlistNav {
  width: 20vw;
  height: 8vh;
  background-color: #101010;
  position: absolute; /* Position them relative to the browser window */
  right: calc(8vh - 20vw); /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 0px; /* 15px padding */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: #84bd00; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#HTreeDemo{
  top: 100px;
}
#playlistNav:hover{
  right:0vw;
}
#doubleNote{
  height: 8vh;
  width: 8vh;
}
#playlistinstruction{
  height: 8vh;
  width: calc(20vw - 8vh);
}
input[type=text] {
  width: 45vw;
  height:vh;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('images/microphone.jpg');
  background-size: 20px;
  background-position: 9px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
#main{
  float:left;
  width:100%;
  padding-top: 120;
  font-size: 30px;
}
.rightside {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #2A0A1B;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.rightside .closerightbtn {
  position: absolute;
  top: 10;
  right: 10px;
  font-size: 20px;
  margin-left: 50px;
}
.onclick{
  font-size: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#playlist{
  text-align: center;
  font-size: 25px;
}
#sidebar-left, #main, #sidebar-right{
  min-height: 500px;
}
#header, #main {
  text-align: center;
}
