{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="{% static 'spotify/styles.css' %}">
    <link rel="icon" href="{% static 'spotify/lyre.jpg' %}"/>

    {% if title %}
      <title>MooDuse - {{ title }}</title>
    {% else %}
      <title>MooDuse</title>
    {% endif %}
  </head>

  <body>
    <div>
      <div id="lefttext">
        {% if ouruser %}
          Hello, {{ ouruser }}
        {% endif %}
      <br>
        <div style="font-size: 12px; color: #D7DF01">-Not you?
          <button id="logout" onclick="location.href='{% url 'logout-button' %}'" type="button">
            logout here
          </button>
        </div>
      </div>
    </div>

      {% if emotion %}
      <h1> Your input: {{emotion}} </h1>
      <br>
      <h2> Hover over the music notes, <br> view your playlist, <br> and enjoy the music! </h2>
      {% else %}
      <h1> Please enter a valid emotion! </h1>
      {% endif %}

      <div id="playlistNav"  align="right" onclick="openRight()">
        <img src="{% static 'spotify/images/double note.jpg' %}" id="doubleNote" align="left" >
        <div id="playlistinstruction" align="left"> View Playlist </div>
      </div>

      <button id="newplaylist" onclick="location.href='{% url 'newplaylist-button' %}'" type="button">
      Generate new playlist
      </button>
  </body>
</html>

<div id="sidebar-right" class="rightside">
  <a href="javascript:void(0)" class="closerightbtn" onclick="closeRight()"> &times; </a>
  <div>
    {% if playlist %}
    <iframe src="https://open.spotify.com/embed/playlist/{{playlist}}" width="500" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% else %}
    <h1> No playlist generated </h1>
    {% endif %}
  </div>
</div>

<script>
function openRight() {
  document.getElementById("sidebar-right").style.width = "550px";
}

function closeRight() {
  document.getElementById("sidebar-right").style.width = "0";
}
</script>
