{% extends "spotify/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'spotify/styles.css' %}">

<div>
  <div id="lefttext">
    {% if ouruser %}
      Hello, {{ ouruser }}
    {% endif %}
  <br>
    <div style="font-size: 12px; color: #D7DF01">-Not you?
      <button id="logout" onclick="location.href='{% url 'logout-button' %}'" type="button">
        logout here
      </button>
    </div>

  </div>
</div>

<br>

<div id="header"> MooDuse </div>

<div id="playlistNav"  align="right" onclick="openRight()">
    <img src="{% static 'spotify/images/double note.jpg' %}" id="doubleNote" align="left">
    <div id="playlistinstruction" align="left"> click here to view current playlist </div>
</div>

<div id="main">
  How are you feeling today?
  <form method="POST" action = "{% url 'mooduse-generated' %}">
    {% csrf_token %}
    <input type="text" name="feels" />
    <input type="submit" value="Generate playlist" />
  </form>
</div>

  <div id="sidebar-right" class="rightside">
    <a href="javascript:void(0)" class="closerightbtn" onclick="closeRight()">&times;</a>
    <div>
      <ol>
        <li class = "track">Hey There Delilah<br><div id = "author"> Plain White T's</div></li>
        <br>
        <li class = "track">A Part of Me<br><div id = "author"> Neck Deep </div></li>
        <br>
        <li class = "track">Mad World<br><div id = "author"> Gary Jules </div></li>
        <br>
        <li class = "track">You're Beautiful<br><div id = "author"> James Blunt</div></li>
        <br>
        <li class = "track">Adam's Song<br><div id = "author"> Blink-182 </div></li>
      </ol>
    </div>
  </div>

{% endblock content %}



<script>
function openRight() {
  document.getElementById("sidebar-right").style.width = "200px";
}

function closeRight() {
  document.getElementById("sidebar-right").style.width = "0";
}
</script>
