{% extends "spotify/base.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'spotify/styles.css' %}">
<script src="{% static 'spotify/PlaylistClick.js' %}"> </script>
<div>
  <div id="lefttext">
    {% if ouruser %}
      Hello, {{ ouruser }}
    {% endif %}
  <br>
    <div style="font-size: 12px; color: #D7DF01">-Not you?
      <button id="logout" onclick="location.href='{% url 'logout-button' %}'" type="button">
        logout here
      </button>
    </div>

  </div>
</div>

<br>

<div id="header"> MooDuse </div>

<br>

<div id="main">
  How are you feeling today?
  <br>
  <br>
  <form method="POST" action = "{% url 'mooduse-generated' %}">
    {% csrf_token %}
    <input type="text" name="feels" />
    <input type="submit" value="Generate playlist" />
  </form>
  <iframe id="embededPlayer" src="" width="600" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> 
</div>

{% if oldPlaylists %}
<div id="oldPlaylists" style="overflow-y:auto;" >
  <h1> Previously generated playlists </h1>
  <ul>
  {% for plist in oldPlaylists %}
      <li  >
      <div id="{{plist.2}}" class="tracklist">
      <img id="PlaylistImg" src="{{plist.1}}">
      <h2 id="PlaylistName"> {{plist.0}} </h2>
      </div>
      </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock content %}



