body{
    background-color: rgb(4, 112, 58);
    background-size: 100%;
    background-repeat: repeat;
    height:100%;
    width:99%;
	overflow-y: hidden;
}
h1{
    font-family: 'Satisfy', cursive;
    color: #2EFEC8;
    width:100%;
    height:100%;
    font-size: 5vw;
    text-align: center;
  }
.icon{
    width:38%;
    height: 100%;
    margin-right:2%;
    float: left;
}
.credentials{
    font-size: 3vw;
    width: 60%;
    height: 100%;
    margin-bottom: 2%;
    float: left;
}
img{
    width: 100%; 
    height:70vh;
    object-fit: contain; 
    mix-blend-mode: multiply;

}
form{
    width:100%;
    object-fit: contain;
    height:100vh;
    font-size: 3vw;
}
input{
    width: 100%;
    object-fit: contain;
    height:auto;
    font-size: 2vw;
    text-align: center;
}