body{
	background-color: #255;
	color: pink;
	margin: 20% auto;
	text-align: center;
}
.btn{
    background-image: url("images/connect.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    height:10vh;
	width: 30%;
}
