body{
	background-color: #255;
	color: pink;
	margin: auto;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	width = 60%
}
#logout{
outline: 0;
background:none;
font-size: 12x;
font-family:Arial, Helvetica, sans-serif;
border: none;
color: yellow;
}
#logout:hover{
text-decoration: underline;
}
#playlistNav {
width: 20vw;
height: 8vh;
background-color: black;
position: absolute; /* Position them relative to the browser window */
right: calc(8vh - 21.5vw); /* Position them outside of the screen */
transition: 0.3s; /* Add transition on hover */
padding: 0px; /* 15px padding */
text-decoration: none; /* Remove underline */
font-size: 20px; /* Increase font size */
color: #84bd00; /* White text color */
border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
input[type=text] {
width: 40%;
height:vh;
border: 1px solid black;
border-radius: 4px;
font-size: 14px;
background-color: white;
background-image: url('images/microphone.jpg');
background-size: 20px;
background-position: 9px 10px;
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
}
.main{
	margin: 10% auto;
}
.rightside {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
right: 0;
background-color: black;
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 50px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.rightside .closerightbtn {
position: absolute;
top: 1%;
right: 5%;
font-size: 40px;
margin-left: 50px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
#playlist{
text-align: center;
font-size: 25px;
}
li.track {
font-family: 'Satisfy', cursive;
color: #FBEFEF; 
background-size: px;
}
#author{
font-family: 'Times New Roman';
color: #848484;
font-size: 14px	
}
h2 {
	margin: 50% 5%;
}
.btn{
    background-image: url("images/connect.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border:none;
    height:10vh;
	width: 30%;
}